.cuadrado {
    flex: content;
    border: 1px solid black;
    background-color: rgb(180, 167, 214);
    height: 240px;
    width: 240px;
    color: black;
    align-items: center;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    margin: auto;
}

.classNombreSkill {
    text-align: center;
    line-height: 180px;
}