<header class="flex-header"></header>

<main class="flex-main">
    <div class="flex-foto"><img src="assets/persona9.png" alt=""></div>
    <div class="flex-componente1">
        <app-descripcion-persona></app-descripcion-persona>
    </div>
</main>

<h1 class="TextoSkills">SKILLS</h1>

<footer class="componentes">
    <app-cuadrado [nombre]="'HTML'"></app-cuadrado>
    <app-cuadrado [nombre]="'CSS'"></app-cuadrado>
    <app-cuadrado [nombre]="'JS'"></app-cuadrado>
    <app-cuadrado [nombre]="'ANGULAR'"></app-cuadrado>
</footer>